<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Website a Personal Portfolio Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
    <!-- web fonts -->
    <link href="{% static 'Mywebsite/style-starter.css'%}" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/style-starter.css">
  </head>
  <body>
  {% block body %}
        
   {% endblock %}
</body>
  </html>